footer {
    background-color: white;
    height: 60px;
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
    line-height: 35px;
    border-top: 1px #CCCCCC;
    border-top-style: solid;
}
