header {
    height: 70px;
    width: 100%;
    color: white;
    border-bottom: 1px#CCCCCC;
    border-bottom-style: solid;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
}
