.places {
    /*text-align for the literal text places*/
    display: flex;
    flex-direction: column;
}

.articles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.articles article {
    flex-basis: 390px;
    padding: 20px;
    margin: 20px;
    border: solid 1px#FF5A5F;
    border-radius: 4px;
}

.places h2 {
    font-size: 30px;;
    text-align: center;
    /*remove default margin?*/
    margin: 0px;
    padding: 0px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 0px;
}