.places {
    text-align: left;
    font-size: 30px;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: solid 1px#FF5A5F;
    border-radius: 4px;
    display: inline-block;
}

.test {
    margin-left: 27%;
}

.places h2 {
    font-size: 30px;;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.places h1 {
    margin-top: 20px;
    margin-bottom: 0px;
    margin-bottom: 0px;
}